.container__promo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.details__promo{
    padding-top: 1rem;

}

.nav__promo{
    display: grid;
    grid-template-columns: repeat(auto-fill,230px);
    gap: 10rem;
    padding: 5rem;
    justify-content: center;
}
.img_promo{
    
}

.btn{

}